In [ ]:

CREATE TABLE HF
(
LOGIN varchar(32)	MASKED WITH (Function = 'random(1,100)') NOT NULL,
EMAIL varchar(64) MASKED WITH (Function = 'email()') NOT NULL,
NEV varchar(64) MASKED WITH (function = 'parcial(1,***,1)') NOT NULL,
SZULEV NUMERIC(4) NULL,
NEM VARCHAR(1),
CIM VARCHAR(128)
PRIMARY KEY(LOGIN))

INSERT INTO HF
(LOGIN, EMAIL, NEV, SZULEV, NEM, CIM)
SELECT LOGIN, EMAIL, NEV, SZULEV, NEM, CIM
FROM UGYFEL

CREATE USER MaskUser WITHOUT LOGIN;
GRANT SELECT ON HF TO MaskUser

EXECUTE AS User= 'MaskUser';
SELECT * FROM HF
REVERT